//$body-font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;
//$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace;

$body-heading-line-height: 1.55;
$body-font-family: 'Josefin Sans', sans-serif;
$body-background-color: #ffffff;
$sidebar-color: #ffffff;
//$search-background-color: $red-000;
//$table-background-color: $white;
$code-background-color: #FAFAFA;


$body-text-color: #3a3a3a;
//$body-heading-color: #000e26;
//$search-result-preview-color: $grey-dk-000;
//$nav-child-link-color: #242424;
$link-color: #2158D6;

//$btn-primary-color: $purple-100;
//$base-button-color: #f70606;